*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  font-size: 1.4rem;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-primary: #f19201;
  --color-white: #ffffff;
  --color-grey: #e5e5e5;
  --color-black: #000000;
}

.btn {
  font-size: 2rem;
  padding: 1rem 2rem;
  outline: none;
  border: none;
}

.btn-pri {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.header {
  display: flex;
  flex-direction: column;

  height: 80vh;
  background-image: url("img/image2.png");
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}

.header__top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background-color: rgb(0, 0, 0, 0.4);
}

.logo {
  display: flex;
  align-items: center;
}
.logo__img {
  height: 6rem;
}

.logo__name {
  color: var(--color-primary);
  text-transform: uppercase;
  margin: 1rem;
}

.nav {
  flex: 0.5 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  text-decoration: none;
  color: var(--color-white);
  font-size: 2rem;
  position: relative;
}

.nav__link:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 60%;
  margin: 0 20%;
  border-bottom: 4px solid magenta;
}

.header__main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  padding: 1rem 5rem;
}

.welcome-text {
  font-size: 4rem;
  text-transform: capitalize;
  width: 50%;
}

/* Section Services styling start here */

.heading-2 {
  font-size: 3rem;
}

.services {
  text-align: center;
  background-color: var(--color-grey);
  padding: 2rem;
}

.section__title {
  margin-bottom: 3rem;
  color: var(--color-primary);
}

.section__text {
  font-size: 1.7rem;
  padding: 1rem 5%;
}

.foods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 5rem;
  column-gap: 5rem;

  margin: 4rem 0;
}

.food {
  background-color: var(--color-white);
  padding: 3rem 2rem;
  width: 260px;
}

.food__num {
  font-size: 2rem;
  margin: auto;
  padding: 1rem;
  height: 5rem;
  width: 5rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  margin-bottom: 2rem;
}

.food__title {
  font-size: 1.7rem;
}

.food__desc {
  font-size: 1.4rem;
  font-style: italic;
  margin: 2rem auto;
}

.reviews {
  display: flex;
  justify-content: space-between;
}

.reviews__img {
  width: 50%;
}

.reviews__main {
  color: var(--color-white);
  text-align: center;
  background-color: var(--color-black);
  padding: 7rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews__main * {
  margin-bottom: 4rem;
}

.reviews__title {
  font-size: 4rem;
  position: relative;
  display: inline-block;
}

.reviews__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: 0 23%;
  border-bottom: 4px solid white;
}

.reviews__sub-title {
  font-size: 2rem;
  text-transform: uppercase;
}

.reviews__text {
  font-size: 1.7rem;
}

.reviews__author {
  font-size: 2rem;
}
